#App {
  display: flex;
  flex-direction: column;
}

#logo {
  padding-right: 5px;
}

#content {
  display: flex;
  gap: 80px;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  height: 100vh;
  color: #fff;
}

#submitbtn {
  margin-left: 10px;
}

#warning {
  font-family: Raleway;
  color: red;
  font-weight: 900;
  font-size: 25px;
}