#books {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

#books a {
  display: flex;
  position: relative;
  align-items: center;
  color: black;
  width: fit-content;
  list-style: none;
  letter-spacing: 1px;
  border-radius: 10px;
  padding: 5px 40px 5px 40px;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 900;
  background: #ffebeb;
  margin-bottom: 10px;
}

#books a:hover {
  opacity: .8;
  cursor: pointer;
}

#books::after {
  content: '';
  border: 5px solid #000;
  min-width: 500px;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

#delete {
  background: none;
  position: absolute;
  color: black;
  right: 0;
  font-size: 15px;
  padding: 5px;
}

#delete:hover {
  border: 1px solid black;
}


@media screen and (max-width: 450px) {
  #books::after {
    min-width: 70vw;
  }

}