#navbar {
  display: flex;
  background-color: #0a0a0a74;
  width: 100%;
  margin-top: 0;
  align-items: center;
}

#navbar h1 {
  color: rgb(176, 176, 176);
  font-weight: 300;
}


#navbar a {
  font-family: Raleway;
  font-weight: 900;
  color: rgb(176, 176, 176);
}

#logo {
  height: 100px;
}