#remove{
  background: none;
}

#remove:hover{
  color: red;
}

#error {
  color: red;
  font-family: Raleway;
  font-weight: 900;
  font-size: 20px;
  grid-column: 1/-1;
  text-align: center;
}


#row {
  display: inline-grid;
  grid-template-columns: repeat(4, fit-content(300px));
  word-break: break-word;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  #row {
    grid-template-columns: 1fr;
    place-items: center;
  }

}